.carrinhoCheio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titulo{
    display: flex;
    flex-direction: colum;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.titulo h1{
    color: #053947;
    font-weight: bold;
    font-size: 45px;
}

.img{
    width: 50px;
    height: 50px;
}

.elementoCalculo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.elemento {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.produto {
    display: flex;
    flex-direction: row;
    background-color: #00A2B9;
    width: 830px;
    height: 265px;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 40px;
    gap:15px;
}

.precoOriginal p {
    margin-bottom: -15px;
    color: #EBFFFE;
    font-weight: bold;
}

.desconto h1 {
    font-size:45px;
    font-weight: bold;
    color: #053947;
    margin-top: -10px;
}

.parcela {
    color: #EBFFFE;
    margin-top: -10px;
}

.traco {
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%) rotate(180deg); 
    width: 50%; 
    height: 20px;
    margin-left: 30px;
    margin-top: 5px;
}

.tituloP {
    color:#EBFFFE;
}

.total {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 64px;
    margin-top: 27px;
}

.quantidade {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.botaoDiminuir, .botaoAumentar {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #EBFFFE;
    color:#053947;
    font-size: 30px;
    cursor: pointer;
}

.quantProd {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #EBFFFE;
}

.quantProd p {
    text-align: center;
    color: #EBFFFE;
}

.valorTotal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 27px;
}

.valorTotal h2 {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.caixinha {
    width: 162px;
    height: 57px;
    border-radius: 5px;
    background-color: #EBFFFE;
    color: #053947;
    font-weight: bold;
    text-align: center;
}

.lixeira {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lixo {
    width: 58px;
    height: 58px;
}

.calculo {
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 596px;
    background-color:#053947;
    border-radius: 30px;
    color: #EBFFFE;
}

.cepCupom {
    margin-top: 22px;
    margin-left: 21.5px;
}

.campoDados {
    display: flex;
    flex-direction: row;
}

.formInformar {
    width: 170px;
    height: 54px;
    border-radius: 15px;
    margin-right: 8px;
    background-color: #EBFFFE;
}

.formInformar ::placeholder {
    color: #053947;
    font-size: 14px;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 18.5px 55px 18.5px 13px;
    border: none;
    background-color: transparent;
    color: black;
}

.input:focus {
    outline: none;
}

.botaoOK {
    width: 67px;
    height: 54px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #EBFFFE;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #EBFFFE;
    cursor: pointer;
}

.divisao {
    width: 245px;
    height: 2px;
    border-radius: 100px;
    background-color: #EBFFFE;
    margin-top: 24px;
    margin-left: 20px;
}

.subT, .valorCe {
    display: flex;
    flex-direction: row;
    gap:65px;
    width: 245px;
    height: 30px;
}

.subT {
    margin-top: -20px;
    margin-bottom: 5px;
}

.totalAPagar {
    display: flex;
    flex-direction: row;
    gap:83px;
    width: 245px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.text {
    font-size: 20px;
}

.boldText {
    font-weight: bold;
    font-size: 24px;
}

.resumo{
    margin-left: 21px;
    margin-right: 20px;
}

.resumo p {
    text-align: center;
    font-size: 20px;
}

.botoesCompra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    margin-top: 35px;
}

.botaoFinalizar, .botaoContinuar {
    width: 245px;
    height: 58px;
    border-radius: 30px;
}

.botaoContinuar {
    background-color: transparent;
    color: #FFFFFF;
    text-align: center;
    border: 2px solid #EBFFFE;
    font-size: 16px;
    font-weight:bold;
    cursor: pointer;
}

.botaoFinalizar {
    background-color: #EBFFFE;
    color: #053947;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.botaoDelete {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cont{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
@media (max-width: 768px) {
    .titulo h1 {
        font-size: 35px;
    }

    .elemento {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .elementoCalculo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .produto {
        width: 600px;
        height: 265px;
    }

    .imagem {
        width: 120px;
        height: 120px;
    }

    .calculo {
        display: flex;
        flex-direction: column;
        width: 600px;
        height: 450px;
        background-color:#053947;
        border-radius: 30px;
        color: #EBFFFE;
    }
    
    .campoDados{
        display: flex;
        flex-direction: row;
    }

    .botoesCompra {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap:30px;
        margin-top: 50px;
        margin-right: 20px;
        margin-left: 70px;
    }

    .resumo p {
        text-align:start;
        font-size: 20px;
    }
    
    .botaoOK{
        border-radius: 50%;
    }
    .cepCupom {
        display: flex;
        gap:60px;
    }

    .divisao {
        width: 550px;
    }

    .subT, .valorCe {
        display: flex;
        justify-content: space-between;
        width: 100%;
        
    }

    .totalPedido{
        margin-right: 50px;
    }

    .totalAPagar{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    

    .component{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
       
    }

    .imgProd{
        display: flex;
        align-items: center;
        margin-top: 15px;
    }

    .cont{
        margin-left: -25px;
    }
}

@media (max-width: 468px) {
    .titulo > span {
        width: 250px;
        font-size: 25px;
        font-weight: 800;
    }

    .titulo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img {
        width: 60px;
        height: 60px;
    }

    .calculo {
        width: 370px;
        height: 450px;
    }

    .formCep p, .formCupom p{
        font-size: 15px;
    }

    .formInformar {
        width: 110px;
        height: 50px;
        border-radius: 15px;
        margin-right: 8px;
        background-color: #EBFFFE;
    }

    .cepCupom{
        gap:10px;
    }

    .formInformar ::placeholder {
        font-size: 10px;
        margin-left: -20px;
        
    }

    .botaoOK {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 14px;

    }

    .divisao {
        width: 330px;
    }

    .botoesCompra {
        gap:10px;
        width: 100%;
        margin-left: 20px;

    }

    .botaoFinalizar, .botaoContinuar {
        width: 500px;
        border-radius: 30px;
    }

    
    .produto {
        display: flex;
        flex-direction: column;
        background-color: #00A2B9;
        width: 300px;
        height: 350px;
        padding: 15px;
        border-radius: 30px;
        margin-bottom: 40px;
        gap:15px;
    }

    .component{
        display: flex;
        flex-direction: row;
        margin-left: 150px;
        margin-top: -190px;
        margin-bottom: 25px;
    }

    .total{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .botaoDiminuir, .botaoAumentar {
        width: 30px;
        height: 30px;
        font-size: 15px;
       
    }

    .quantProd {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid #EBFFFE;
    }
    
    .quantProd p {
        text-align: center;
        color: #EBFFFE;
        font-size: 10px;
    }

    .valorTotal{
        margin-top: -50px;
    }

    .valorTotal h2 {
        font-size: 15px;
    }

    .caixinha {
        width: 100px;
        height: 57px;
    }

    .cont{
        display: flex;
        flex-direction: row-reverse;
        gap:0px;
    }
    
    .lixeira{
        margin-right: -50px;
    }
    .lixo{
        width: 40px;
        height: 40px;
    }

    .imagem{
        width: 130px;
        height: 130px;
       
    }

    .imgProd{
        display: flex;
        align-items: center;
        margin-top: 45px;
    }
    
    
}
