@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  background-color: #EBFFFE;
  color: #fff;
  height: 100%;
  margin: 0;
}
.components {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.children {
  flex: 1;
}

footer {
  height: 12rem;
}
