@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --50: #ebfffe;
  --600: #00a2b9;
  --950: #053947;
}

body,
html {
  background-color: #ebfffe;
  height: 100%;
  margin: 0;
 
}
.components {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.children {
  flex: 1;
}

footer {
  height: 12rem;
}
