.background {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  flex-direction: column;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #ffffff;
  width: 258px;
  background-color: var(--950);
  border-radius: 30px;
  max-height: max-content;
}

h3.title {
  margin: 8px 0 8px 0;
  padding: 0px;
  font-weight: 800;
}

input.checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  margin-right: 8px;
  font: inherit;
  background-color: var(--950);
  color: var(--600);
  width: 0.75em;
  height: 0.75em;
  border: 0.14em solid var(--600);
  border-radius: 25%;
}

input.checkbox:checked {
  content: "";
  width: 0.75em;
  height: 0.75em;
  border-radius: 25%;
  background-color: var(--600);
  transform: scale(-1);
  transition: 150ms transform ease-in-out;
  border: 0.14em solid rgba(255, 255, 255, 0.4);
  box-shadow: inset 1em 1em var(--form-control-color);
}
