.maisVendidos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-weight: bold;
    font-size: 24px;
    color: #053947;
}

.produto {
    display: flex;
    flex-direction: row;
    background-color: #00A2B9;
    width: 520px;
    height: 210px;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 40px;
    gap: 15px;
}

.precoOriginal p {
    margin-top: -5px;
    margin-bottom: -15px;
    color: #EBFFFE;
    font-weight: bold;
}

.desconto h1 {
    font-size: 45px;
    font-weight: bold;
    color: #053947;
    margin-top: -10px;
}

.parcela {
    color: #EBFFFE;
    margin-top: -20px;
}

.traco {
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%) rotate(180deg);
    width: 50%;
    height: 20px;
    margin-left: 30px;
    margin-top: 5px;
}


h2.tit {
    color: #EBFFFE;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3.5rem;
    width: 250px;
}

.componente {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.imagem {
    width: 200px;
    height: 200px;
}

.link {
    text-decoration: none;
}

.link:hover .tit {
    color: #10677A;
}

@media (max-width: 768px) {
    .titulo h1 {
        font-size: 45px;
        text-align: center;
    }

    .componente {
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        display: flex;
        gap: 20px;
        justify-content: flex-start;
        width: 100%;
        
    }

    .produto{
        margin-left: 20px;
        margin-right: 30px;
        gap: 0px;
    }

    .imagem{
        margin-right: 15px;
    }
}

@media (max-width: 468px) {
    .titulo h1 {
        font-size: 35px;
        text-align: center;
    }

    .imagem{
        width: 150px;
        height: 150px;
        margin-right: 10px;
    }

    .tituloP {
        max-width: 100%; /* Ajuste o valor conforme necessário */
        overflow-wrap: break-word;
      }
    
      h2.tit {
        color: #EBFFFE;
        overflow: hidden;
        text-overflow: ellipsis;
        height: auto; /* Permitir altura automática */
        width: 130px;
        display: -webkit-box; /* Usado com line-clamp */
        -webkit-line-clamp: 2; /* Número máximo de linhas */
        -webkit-box-orient: vertical; /* Orientação vertical */
        word-wrap: break-word; /* Quebra de palavra quando necessário */

      }

    .desconto h1 {
        font-size: 20px;
       
    }

    .produto{
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
        margin-right: 30px;
        gap: 0px;
    }

}
