.kit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kits3{
    display: flex;
}

.titulo{
    font-weight: bold;
    font-size:24px;
    color: #053947;
}

.elemento{
    display: flex;
    flex-direction: row;
    gap:90px;
}

.imagem{
    width: 320px;
    height: 420px;
}

@media (max-width: 768px) {
    .titulo h1{
        font-size: 45px;
        text-align: center;
    }

    .kits3{
        display: none;
    }
    
    
    .elemento{
        margin-top: -15px;
        gap:70px;
    }
}

@media (max-width: 468px) {
    .titulo h1{
        font-size: 35px;
        text-align: center;
    }
    
    .kits3{
        display: none;
    }
    
    .imagem{
        width: 150px;
        height: 250px;
    }

    .elemento{
        margin-top: -18px;
        gap:30px;
    }

}