.container {
  position: relative;
  background-color: var(--50);
  border-radius: 30px;
  border: 1px solid var(--950) 0.2;
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(14px, 14px);
  z-index: 2;
  pointer-events: none;
  padding: 10px;
  background-color: var(--950);
  border-radius: 14px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.input {
  opacity: 0;
  width: 500px;
  height: 500px;
}

.input:hover {
  cursor: pointer;
}

.imagePreview {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 98%;
  height: 98%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  object-fit: cover;
  pointer-events: none;
}
