.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
    align-items: center;
    background-color: #053947;
    padding: 15px;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 100px;
    margin-top: -30px;
    
}

.txt{
    text-decoration: none;
}

.logo p {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.barraPesquisa{
    margin-top: -70px;
    margin-left: 100px;
}

.formPesquisa {
    display: flex;
    align-items: center;
    height: 1.2rem;
    width: 37.5rem;
    background-color: white;
    border-radius: 30px;
    margin-top: 8px;
    padding: 10px;
}

.formPesquisa ::placeholder {
    color: #053947;
    font-size: 14px;
    font-weight: bold;
}

.inputPesquisa {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: none;
    background-color: transparent;
    color: black;
}

.inputPesquisa:focus {
    outline: none;
}

.botao {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.lupa {
    width: 20px;
    height: 20px;
}

.components {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 100px;
    margin-top: -30px;
}

.login, .carrinho {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.botaoLogin {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.botaoCarrinho {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 15px;
}

.carrinho p {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: -3px;
}

.img {
    width: 40px;
    height: 40px;
}

.imgLogin {
    width: 24px;
    height: 24px;
}

.imgCarrinho {
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .cabecalho {
        height: 8rem;
    }

    .barraPesquisa{
        margin-top: 1px;
        margin-left: -5px;
    }
    .topo{
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-top: 5px;
    }
}

@media (max-width: 468px) {
    .cabecalho {
        height: 8rem;
    }
    
    .topo {
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }

    .logo {
        margin-left: 0;
    }

    .components {
        flex-direction: row;
        margin-right: 0;
    }

    .barraPesquisa{
        margin-top: 2px;
        margin-left: -10px;
    }

    .formPesquisa {
        width: 19rem;
    }

    .logo p {
        font-size: 25px;
    }

    .img {
        width: 30px;
        height: 30px;
    }
    
    .imgLogin {
        width: 20px;
        height: 20px;
    }
    
    .imgCarrinho {
        width: 20px;
        height: 20px;
    }

    .components {
        gap: 5px;
    }
}
